IRACING_POLL_INTERVAL=100ms
IRACING_INFLUX_URL=http://localhost:8086
IRACING_INFLUX_ORG=iracing
IRACING_INFLUX_BUCKET=telemetry
IRACING_INFLUX_TOKEN=iracing-super-token
IRACING_INFLUX_MEASUREMENT=iracing_telemetry
IRACING_WRITE_TIMEOUT=5s
IRACING_FLUSH_INTERVAL=1s
IRACING_BATCH_SIZE=25
IRACING_BUFFER_SIZE=512
